<h1 class="yellow-text center-align">Experience you can count on!</h1>
<br />
<div class="row pull-right">
  <div>
    <%= image_tag("people/group.jpg", class:"col offset-s1 s8", alt:"The great staff at Bond and Call LLC") %>
  </div>
  <div class="card medium col offset-s1 offset-m1 s10 m5 card-color">
    <div class="card-image activator waves-effect waves-block waves-light">
      <!--  -->
      <%= image_tag("people/KB.jpg", class:"activator", alt:"Image of Kevin Bond, smiling and wearing a suit") %>
    </div>
    <div class="card-content">
      <span class="card-title activator yellow-text center-align">F. Kevin Bond</span>
      <!-- <p><a href="#">This is a link</a></p> -->
    </div>
    <div class="card-reveal light-red">
      <span class="card-title grey-text text-darken-4 activator">
        <p class="center-align"><i class="activator right-align">F. Kevin Bond
        </i></p>
        <br />
        <i class="para-size">email: kbond@bondcall-law.com</i>
        <br />
        <p class="center-align"><i class="material-icons right-align">close</i></p>
      </span>
    </div>
  </div>
  <div class="card medium col offset-s1 s10 m5 card-color">
    <div class="card-image waves-effect waves-block waves-light">
      <!--  -->
      <%= image_tag("people/BC.jpg", class:"activator", alt:"Image of Budge Call, smiling and wearing a suit") %>
    </div>
    <div class="card-content">
      <span class="card-title activator yellow-text center-align">Budge W. Call</span>
      <!-- <p><a href="#">This is a link</a></p> -->
    </div>
    <div class="card-reveal light-red">
      <span class="card-title grey-text text-darken-4 activator">
        <p class="center-align"><i class="activator right-align">Budges W. Call
        </i></p>
        <br />
        <i class="para-size">email: bcall@bondcall-law.com</i>
        <br />
        <p class="center-align"><i class="material-icons right-align">close</i></p>
      </span>
    </div>
  </div>
  <div class="card medium col offset-s1 offset-m1 s10 m5 card-color">
    <div class="card-image waves-effect waves-block waves-light">
      <!--  -->
      <%= image_tag("people/KC.jpg", class:"activator", alt:"Image of Kevin Call, smiling and wearing a suit") %>
    </div>
    <div class="card-content">
      <span class="card-title activator yellow-text center-align">Kevin Call</span>
      <!-- <p><a href="#">This is a link</a></p> -->
    </div>
    <div class="card-reveal light-red">
      <span class="card-title grey-text text-darken-4 activator">
        <p class="center-align"><i class="activator right-align">Kevin Call:
        </i></p>
        <br />
        <i class="para-size">email: kcall@bondcall-law.com</i>
        <br />
        <p class="center-align"><i class="material-icons right-align">close</i></p>
      </span>
    </div>
  </div>
  <div class="card medium col offset-s1 s10 m5 card-color">
    <div class="card-image waves-effect waves-block waves-light">
      <!--  -->
      <%= image_tag("people/HK.jpg", class:"activator", alt:"Image of Harpreet Kaur, smiling and wearing a suit") %>
    </div>
    <div class="card-content">
      <span class="card-title activator yellow-text center-align">Harpreet Kaur</span>
      <!-- <p><a href="#">This is a link</a></p> -->
    </div>
    <div class="card-reveal light-red">
      <span class="card-title grey-text text-darken-4 activator">
        <p class="center-align">
          <i class="activator right-align">Harpreet Kaur</i>
        </p>
        <br />
        <i class="para-size">email: hp@bondcall-law.com</i>
        <br />
        <p class="center-align"><i class="material-icons right-align">close</i></p>
      </span>
    </div>
  </div>
</div>
